name: Generate Snake Animation

on:
  schedule:
    # Обновление каждый час
    - cron: '0 * * * *'
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  generate:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v3
      
      - uses: Platane/snk@master
        id: snake-gif
        with:
          github_user_name: gitububkm
          svg_out_path: output/github-snake-dark.svg
          gif_out_path: output/github-snake-dark.gif
          color_snake: '#00ff00'
          color_dots: '#00ff00:#ff0000'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          
      - name: Commit and push
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add output/
          git diff --staged --quiet || git commit -m "Update snake animation"
          git push

